---
BasedOnStyle: Microsoft
Language: Java
IndentWidth: 2
IndentCaseLabels: true
UseTab: Never
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach

ExperimentalAutoDetectBinPacking: true
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: true
AllowShortFunctionsOnASingleLine: Empty